Repository TotallyNotRobots/py-irclib: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  args:
  - -s
  - 'no'
  language: system

Remove cxoverage fail_under
  .coveragerc
Due: none

Add repr test
  tests/parser_test.py
Due: pylint

Skip mypy/pylint in pre-commit ci
  .pre-commit-config.yaml
Due: none

Remove travis badge
  README.md
Due: none

Update branch triggers
  .github/workflows/python-tests.yml
Due: none

parser: Add tag access fields to Message objects
  irclib/parser.py
Due: mypy, pylint

Add initial devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/python-publish.yml
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Clean up test runtime
  .github/workflows/python-tests.yml
  requirements-dev.txt
Due: none

Switch to hatch, clean up repo configs
  .coveragerc
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/python-publish.yml
  .github/workflows/python-tests.yml
  .gitignore
  .mypy.ini
  .pre-commit-config.yaml
  .pylintrc
  irclib/__init__.py
  irclib/__pkginfo__.py
  irclib/util/commands.py
  irclib/util/compare.py
  irclib/util/frozendict.py
  irclib/util/numerics.py
  irclib/util/string.py
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  setup.py
  tests/commands_test.py
  tests/frozendict_test.py
  tests/numerics_test.py
  tests/parser_test.py
  tests/string_test.py
  tests/test_construct.py
  tests/test_masks.py
Due: mypy, pylint

Upgrade codecov uploader
  .github/workflows/python-tests.yml
  .pre-commit-config.yaml
Due: none

Make xml coverage data for codecov
  .github/workflows/python-tests.yml
  pyproject.toml
Due: none

Fix test command
  .github/workflows/python-tests.yml
Due: none

Clean up linting and typing
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  irclib/__init__.py
  irclib/parser.py
  irclib/util/__init__.py
  irclib/util/commands.py
  irclib/util/compare.py
  irclib/util/frozendict.py
  irclib/util/numerics.py
  irclib/util/string.py
  pyproject.toml
  tests/commands_test.py
  tests/frozendict_test.py
  tests/numerics_test.py
  tests/parser_test.py
  tests/string_test.py
  tests/test_construct.py
  tests/test_masks.py
Due: mypy, pylint

Fix python path in dev container
  .devcontainer/devcontainer.json
Due: none

Fix build trigger
  .github/workflows/python-publish.yml
Due: none

Fix coverage cleanup for parallel tests
  pyproject.toml
Due: none

Release v0.4.0
  irclib/__init__.py
  irclib/py.typed
Due: mypy, pylint

Sync configs
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/python-publish.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Add badges
  README.md
Due: none

Clean up configs
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  codecov.yml
  pyproject.toml
Due: none

Add codespell config
  .pre-commit-config.yaml
  pyproject.toml
Due: none

style: configure commitizen for repo
  .pre-commit-config.yaml
  pyproject.toml
Due: none

ci: add changelog configs
  CHANGELOG.md
  irclib/__init__.py
  pyproject.toml
Due: mypy, pylint

bump: version 0.4.0 → 0.5.0
  CHANGELOG.md
Due: none

refactor: add Final and TypeAlias annotations
  irclib/parser.py
  irclib/util/compare.py
  irclib/util/string.py
Due: mypy, pylint

bump: version 0.5.0 → 0.5.1
  CHANGELOG.md
Due: none

ci: sync ci configs
  .devcontainer/Dockerfile
  .gitignore
  pyproject.toml
Due: none

feat: switch to Self type for constructor method returns
  irclib/parser.py
  tests/parser_test.py
Due: mypy, pylint

bump: version 0.5.1 → 0.6.0
  CHANGELOG.md
Due: none

ci: sync configs
  README.md
  irclib/util/commands.py
  pyproject.toml
Due: mypy, pylint

refactor: add version data to root module
  irclib/__init__.py
Due: mypy, pylint

refactor: add ssort to sort module members
  .pre-commit-config.yaml
  irclib/parser.py
  irclib/util/commands.py
  irclib/util/frozendict.py
  irclib/util/numerics.py
  irclib/util/string.py
Due: mypy, pylint

feat(parser): add tag access fields to Message objects
  irclib/parser.py
Due: mypy, pylint

docs: add docstrings to public API methods
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  irclib/__init__.py
  irclib/errors.py
  irclib/parser.py
  irclib/util/__init__.py
  irclib/util/commands.py
  irclib/util/compare.py
  irclib/util/frozendict.py
  irclib/util/numerics.py
  irclib/util/string.py
  pyproject.toml
  tests/__init__.py
  tests/commands_test.py
  tests/frozendict_test.py
  tests/numerics_test.py
  tests/parser_test.py
  tests/string_test.py
  tests/test_construct.py
  tests/test_masks.py
Due: mypy, pylint

chore: add Renovate configuration for dependency management
  .github/dependabot.yml
  .github/renovate.json
Due: none

fix: Remove codeql config to use default setup
  .github/workflows/codeql.yml
Due: none

ci: add pre-commit autoupdate
  .github/workflows/pre-commit-update.yml
Due: none

fix: update zsh-plugins feature source to use the correct repository
  .devcontainer/devcontainer.json
Due: none

ci: Migrate to hatch test command
  .github/workflows/python-tests.yml
  pyproject.toml
Due: none

ci: add nitpick to standardize config
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  scripts/__init__.py
  scripts/fix_pre_commit.py
Due: mypy, pylint

Path conditions:
  mypy: any of: \.py$, but not: tests/.*
  pylint: any of: \.py$
